@import "typography";

*{
    box-sizing: border-box;
}

.space{
    margin-left: 100px;
    margin-right: 100px;
}

.top-header{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        margin-left: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        .title{
          color:#333333;
          font-weight: bold;
          font-size: 22px;
          display: flex;
          align-items: center;
        }
    }
    .user-register{
        margin-right: 100px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        .hambuger-menu{
            display: none;
        }
        section{
            display: flex;
            flex-direction: column;
           justify-content: center;
            gap: 5px;
            span{
                color: #555555;
                font-size: 11px;
            }
            a{
                color: #7084a9;
               font-weight: bold;
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar{
    background-color: black;
    width: 100%;
    z-index: 3;
    .user-register{
        display: none;
    }
    .link{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
        
        a{
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bold;
            color: white;
            &:hover{
                color: #ab596f;
            }
        }
    }
   
}
a{
    text-decoration: none; 
}
// slideshow-container


.slideshow-container {
   
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    text-align: center;
   
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom:200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    // border: 1px solid red;

    .learn-more{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        border: 1px solid white;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
  }
 
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.main-title{
    
    width: 100%;
    text-align: center;
    h1{
        color: #7084a9;
    }
    .sort{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        label{
            font-weight: bold;
        }
       select{
        height: 20%;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        color: #555555;
        background-color: #eff0f2;
       }
    }
}
.project-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    .projects{
        
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 400px;
        height: 300px;
        transition: transform .2s;
        &:hover{
              transform: scale(1.1);
              z-index: 1;
        }
        img{
            position: relative;
            
        }
        span{
            position: absolute;
            color: white;
            z-index: 1;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
        }
    }
   
}

.main-article{
    background-color: #b7c8e4 ;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    h1{
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .color-section{
        background-color: black;
    }
    section{
        margin-top: 10px;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;        
        cursor: pointer;
        background-color: #7084a9 ;
        .fa-rotate {
            transition: all 0.5s ease;
            transform: rotateZ(180deg);
          }
        p{
            color: white;
        }
        .fa{
            color: white;
            position: relative;
    }
}
}

article{
    
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 80px;
    position: relative;
    overflow: hidden;;
    animation: rotateMenu 1s ease-in-out forwards;

    @keyframes rotateMenu {
        0% {
            transform: rotateX(-90deg)
        }
        70% {
            transform: rotateX(20deg) 
        }
        100% {
            transform: rotateX(0deg) 
        }
    }
    .bottom-article{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            font-size: 13px;
            color:  #7084a9;
        }
        div{
            background-color: #7084a9;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
    }
}
footer{
    background-color: black;
   
}
.section-footer{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    ul{
        
        color: white;
    }
    li{
        margin-top: 20px;
        text-decoration: none;
        list-style: none;
       .fa{
        margin-right: 10px;
       }
        .a-color-red{
            color: #ab596f;
        }
        .a-color-blue{
            color:#7084a9;
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   padding-top: 50px;
   padding-bottom: 50px;
//    border: 1px solid red;
}
@media  (max-width: 700px) {
  
    .top-header{
        overflow: auto;
        // position: fixed !important ;
        // width: 100%;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2222;
        background-color: white;
        width: 100vw;
        .logo{
            margin-left: 20px;
        }
        .user-register{
            margin-right: 0px;
            section{
                display: none ;
            }
            .hambuger-menu{
                display: flex ;
                align-items: center;
                justify-content: center;
                width: 50px;
                // border: 1px solid red;
                .fa{
                    font-size: 24px;
                    &:hover{
                        color: #ab596f;
                    }
                }
            }
        }
    }
  
    
    .navbar{
        display: none;
        width: 100%;
        height: 100%;
       
            .user-register{
                display: flex ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
                gap: 20px;
                
                section{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    
                    span{
                        color: #555555;
                    }
                    a{
                        color: #7084a9;
                    }
                }
            }
        
        .link{
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            a{
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
    
    .space{
        margin-left: 20px;
        margin-right: 20px;
    }
    .text{
        padding-left: 50px;
        padding-right: 50px;
    }
    .project-container{
        flex-direction: column;
        justify-content: center;
        
        .projects{
            // border: 1px solid red;
           width: 100%;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            // margin-left: 20px;
            // margin-right: 20px;
            
            img{
                width: 90%;
                padding: 0px;
                
            }
        }
    }
    
    article{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        // border: 1px solid red;
        padding-right: 0px;
        .content-article{
            width: 100%;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .bottom-article{
            flex-direction: column;
            justify-content: center;
        }
    }
    .section-footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
